:root {
  --bg-button: #ffffff;
  --border-button: solid 0;
}

.button {
  font-size: 1.4em;
  background-color: linear-gradient(to right, red, green, yellow, blue);
  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  outline: none;
  border-radius: 6px;
  margin: 3px;

}

.button:active {
  background-color: rgb(255, 114, 27);
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
}

.button.operation {
  background-color: rgb(253, 160, 102);
  color: black;
}

.button.operation:active {
  background-color: rgb(255, 98, 0);
}